Repository SparkPost/support-docs, pull requests merged in 2021-11, with the labels that each got.

#578 WE-164 style side navigation menu
  components/site/momentumLayout.tsx
  components/site/momentumNavigation.tsx
  components/site/status.tsx
  hooks/useStatus.ts
  package-lock.json
  pages/_app.tsx
  tsconfig.json
Labels: :shipit: approved, type: feature

#579 WE-316 Add markdown code component
  components/markdown/code.tsx
  components/markdown/index.tsx
  components/site/momentumLayout.tsx
  package-lock.json
  package.json
  pages/momentum/[...slug].tsx
Labels: :shipit: approved, type: feature

#580 WE-314 Add markdown Image component
  .gitignore
  components/markdown/image.tsx
  components/markdown/index.tsx
  package-lock.json
  package.json
  scripts/copyImages.mjs
Labels: :shipit: approved, type: feature

#581 WE-310 Decrease build times
  components/site/momentumLayout.tsx
  components/site/momentumNavigation.tsx
  lib/api.ts
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/momentum/[...slug].tsx
  pages/momentum/index.tsx
  tsconfig.json
  yaml.d.ts
Labels: :shipit: approved

#583 WE-324 Fix site layout responsiveness
  components/markdown/image.tsx
  components/site/footer.tsx
  components/site/layout.tsx
Labels: :shipit: approved, type: bug

#584 WE-166 Single Page Template
  components/site/breadcrumbs.tsx
  components/site/documentationPage.tsx
  components/site/layout.tsx
  components/site/momentumHomePageContent.tsx
  components/site/momentumNavigation.tsx
  package-lock.json
  package.json
  pages/momentum/[...slug].tsx
Labels: :shipit: approved

#586 WE-325 Add /submit-a-ticket page
  pages/submit-a-ticket.tsx
Labels: :shipit: approved, type: feature

#589 WE-315 Style markdown table component
  components/markdown/index.tsx
  components/markdown/table.tsx
  timestamps_support.json
Labels: :shipit: approved, type: feature

#590 WE-67 Add support doc algolia indexing and search input
  .github/workflows/index.yml
  components/site/algolia/search.tsx
  components/site/header.tsx
  package.json
  scripts/algoliaIndex.mjs
  scripts/momentumIndex.mjs
  scripts/supportIndex.mjs
Labels: :shipit: approved, type: feature

#587 WE-313: mobile header
  components/site/header.tsx
  components/site/headerButtons.tsx
  components/site/layout.tsx
  components/site/momentumNavigation.tsx
Labels: :shipit: approved

#592 WE-335: netlify redirect
  netlify.toml
Labels: :shipit: approved

#591 WE-293 Style Markdown components
  components/markdown/blockquote.tsx
  components/markdown/code.tsx
  components/markdown/container.tsx
  components/markdown/descriptionLists.tsx
  components/markdown/heading.tsx
  components/markdown/hr.tsx
  components/markdown/image.tsx
  components/markdown/index.tsx
  components/markdown/link.tsx
  components/markdown/lists.tsx
  components/markdown/paragraph.tsx
  components/site/documentationPage.tsx
  package.json
Labels: :shipit: approved, type: enhancement

#593 WE-338 Replace logo with new logo
  components/site/header.tsx
  components/site/logo.tsx
  components/site/logoWhite.tsx
Labels: :shipit: approved, type: enhancement

#594 WE-340 Make nav buttons keyboard accessible
  components/site/header.tsx
  components/site/momentumNavigation.tsx
Labels: :shipit: approved

#596 WE-293 Hotfix: Fix Ol's with nested lists
  components/markdown/lists.tsx
Labels: :shipit: approved

#597 WE-334 add single template to docs pages
  pages/docs/[...slug].tsx
Labels: :shipit: approved

#604 WE-339 build post rating functionality
  components/site/alert.tsx
  components/site/alerts.tsx
  components/site/documentationPage.tsx
  components/site/feedback.tsx
  components/site/layout.tsx
  context/alerts.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  tsconfig.json
  utils/segment.ts
Labels: :shipit: approved, type: feature

#603 WE-336 Make nav item hover area interactive
  components/site/momentumNavigation.tsx
Labels: :shipit: approved, type: bug

#602 WE-342 Generate links from headings
  components/markdown/heading.tsx
  utils/string.ts
Labels: :shipit: approved, type: enhancement

#606 WE-343 Add segment page tracking on url change
  pages/_app.tsx
  utils/segment.ts
Labels: :shipit: approved

#600 WE-337 add bottom margin and horizontal padding to table
  components/markdown/table.tsx
Labels: :shipit: approved, type: bug

#605 WE-286: 404 page
  components/site/documentationContent.tsx
  components/site/footer.tsx
  components/site/header.tsx
  components/site/layout.tsx
  components/site/layoutInnerContent.tsx
  components/site/layoutWrap.tsx
  cypress/integration/404.spec.ts
  pages/404.tsx
  pages/docs/[...slug].tsx
  pages/momentum/[...slug].tsx
  public/404.png
Labels: :shipit: approved

#607 WE-322 Add side nav
  components/site/docsLayout.tsx
  components/site/docsNavigation.tsx
  components/site/momentumLayout.tsx
  components/site/navigation.tsx
  lib/api.ts
  pages/docs/[...slug].tsx
  pages/docs/index.tsx
Labels: :shipit: approved

#610 We 349 upgrade cypress
  cypress.json
  package-lock.json
  package.json
Labels: :shipit: approved

#609 WE-346: Adds submit a ticket to the sidebar.
  components/site/navigation.tsx
Labels: :shipit: approved

#611 WE-348: Adds the support docs nav to the submit a ticket page
  components/site/feedback.tsx
  pages/submit-a-ticket.tsx
Labels: :shipit: approved, type: bug

#612 WE-350: Updates the index file content.
  content/momentum/3/index.md
  content/momentum/4/index.md
  content/momentum/changelog/index.md
  content/momentum/mobile/index.md
Labels: :shipit: approved, type: content change

#608 WE-320: support docs home page
  components/site/alert.tsx
  components/site/docsHomePageContent.tsx
  components/site/icons.tsx
  components/site/navigation.tsx
  components/site/status.tsx
  lib/api.ts
  pages/docs/index.tsx
Labels: :shipit: approved, type: feature

#613 WE-345 Make breadcrumbs and search categories friendly
  components/site/algolia/results.tsx
  components/site/breadcrumbs.tsx
  context/categories.tsx
  lib/api.ts
  pages/docs/[...slug].tsx
  pages/docs/index.tsx
  pages/momentum/[...slug].tsx
  pages/momentum/index.tsx
  utils/string.ts
Labels: :shipit: approved

#617 WE-352: Migrate Automatic Inline Seeds User Guide
  content/docs/deliverability/deliverability-analytics.md
  content/docs/user-guide/automatic-inline-seeds.md
  content/docs/user-guide/media/automatic-inline-seeds/inline-seeds-campaign-status-page.png
  content/docs/user-guide/media/automatic-inline-seeds/inline-seeds-config-edit-page.png
  content/docs/user-guide/media/automatic-inline-seeds/inline-seeds-config-list-page.png
  content/docs/user-guide/media/automatic-inline-seeds/inline-seeds-report-config-page.png
  content/docs/user-guide/media/automatic-inline-seeds/inline-seeds-report-page.png
  netlify.toml
Labels: :shipit: approved

#614 WE-323: Adds docs index list page layout
  components/site/docsIndexListPageContent.tsx
  components/site/documentationContent.tsx
  components/site/navigation.tsx
  content/docs/billing/index.md
  content/docs/deliverability/index.md
  content/docs/faq/index.md
  content/docs/getting-started/index.md
  content/docs/integrations/index.md
  content/docs/my-account-and-profile/index.md
  content/docs/recipient-validation/index.md
  content/docs/reporting/index.md
  content/docs/signals/index.md
  content/docs/tech-resources/index.md
  content/docs/user-guide/index.md
  lib/api.ts
  pages/docs/[...slug].tsx
  pages/momentum/[...slug].tsx
  utils/string.ts
Labels: :shipit: approved, type: content change

#619 WE-355: Additional redirect for Automatic Inline Seeds User Guide
  netlify.toml
Labels: :eyes: needs review

#616 WE-304 Pull content from `main`
  content/docs/getting-started/index.md
  content/momentum/3/index.md
  content/momentum/4/index.md
  content/momentum/changelog/4/index.md
  content/momentum/changelog/index.md
  content/momentum/mobile/index.md
  package.json
  timestamps_support.json
Labels: :shipit: approved, type: content change

#620 WE-365 Close Algolia search on click inside menu
  components/site/algolia/results.tsx
  components/site/algolia/search.tsx
Labels: :shipit: approved

#621 WE-371: 600px description width
  components/site/docsIndexListPageContent.tsx
  components/site/documentationContent.tsx
  components/site/layoutWrap.tsx
Labels: :shipit: approved
