Repository SparkPost/support-docs, pull requests merged in 2021-12, with the labels that each got.

#623 WE-341: upgrading to nextjs 12
  netlify.toml
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: :shipit: approved, type: enhancement

#624 WE-374: Backfill the support doc redirects
  content/docs/getting-started/setting-up-domains.md
  netlify.toml
Labels: :shipit: approved

#627 WE-379: Adds the documentation guidelines to the readme.
  README.md
Labels: :shipit: approved, type: content change

#626 WE-160: remove disallow in next-sitemap.js
  next-sitemap.js
Labels: :shipit: approved, type: enhancement

#643 Remove line numbers in code blocks
  components/markdown/code.tsx
Labels: :shipit: approved

#642 Update to CloudFlare steps to match current UI + other improvements
  content/docs/tech-resources/enabling-https-engagement-tracking-on-sparkpost.md
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/cloudflare_SSL_full.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/cloudflare_SSL_priority.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/cloudflare_UI.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/cloudflare_create_cname.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/cloudflare_create_page_rule.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/cloudflare_ns_change.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/cloudflare_page_rule_edit.png
Labels: :shipit: approved, type: content change

#645 FE-1593 - Remove security badger
  .github/workflows/security-badger.yml
Labels: :shipit: approved
