Repository SparkPost/support-docs, pull requests merged in 2022-05, with the labels that each got.

#675 FE-1642: Allow all in connect-src CSP policy
  netlify.toml
Labels: :shipit: approved

#676 Fix json examples in Using CC and BCC with the REST API doc
  content/docs/faq/cc-bcc-with-rest-api.md
Labels: :eyes: needs review, type: content change

#650 Authentication updates
  content/docs/my-account-and-profile/enabling-two-factor-authentication.md
  content/docs/my-account-and-profile/media/enabling-two-factor-authentication/2-factor-auth-popup.png
  content/docs/my-account-and-profile/media/enabling-two-factor-authentication/disable-2fa-enforcement.png
  content/docs/my-account-and-profile/media/enabling-two-factor-authentication/disable-2fa-user.png
  content/docs/my-account-and-profile/media/enabling-two-factor-authentication/enable-2fa-enforcement.png
  content/docs/my-account-and-profile/media/enabling-two-factor-authentication/generate-2-factor-backup-codes.png
  content/docs/my-account-and-profile/media/enabling-two-factor-authentication/login-with-2-factor-auth.png
  content/docs/my-account-and-profile/media/enabling-two-factor-authentication/profile-page.png
  content/docs/my-account-and-profile/media/enabling-two-factor-authentication/view-2-factor-backup-codes.png
  content/docs/my-account-and-profile/media/enabling-two-factor-authentication/warning-disable-2fa-enforcement.png
  content/docs/my-account-and-profile/media/enabling-two-factor-authentication/warning-enable-2fa-enforcement.png
  content/docs/my-account-and-profile/sso.md
Labels: :shipit: approved, :eyes: needs review, type: content change, team - AC
