Repository SparkPost/support-docs, pull requests merged in 2022-01, with the labels that each got.

#641 Update ip-warm-up-overview.md - Added How many IP's do I need section
  content/docs/deliverability/ip-warm-up-overview.md
Labels: :shipit: approved, type: content change

#644 FE1595: Fix intra-document heading links
  content/docs/tech-resources/deep-links-self-serve.md
  content/docs/tech-resources/enabling-https-engagement-tracking-on-sparkpost.md
  content/docs/tech-resources/using-proxy-https-tracking-domain.md
Labels: :shipit: approved, type: content change

#637 WE-375: Conditionally link 404 page to /momentum
  .gitignore
  components/site/header.tsx
  components/site/layout.tsx
  next-env.d.ts
  pages/404.tsx
Labels: :shipit: approved, type: enhancement, team - FE

#634 WE-383: team names
  .github/pull_request_template.md
Labels: :shipit: approved, type: content change, team - FE

#633 WE-381: add trailing slash
  netlify.toml
  next.config.js
Labels: :shipit: approved, type: bug, team - FE

#647 (WIP) WE-377: missing nav on submit a ticket
  next-env.d.ts
  package-lock.json
  package.json
  pages/submit-a-ticket.tsx
Labels: :shipit: approved, type: bug, team - FE

#646 FE-1591: Nested routes in support docs are not routed correct
  .gitignore
  components/markdown/link.tsx
  content/momentum/4/operations-riak-backups.md
  content/momentum/4/operations-riak-ports.md
  content/momentum/4/riak.md
  cypress/content/momentum/1st-level/relative-link-test.md
  cypress/content/momentum/1st-level/test.md
  cypress/integration/subpage.spec.ts
  lib/api.ts
  next.config.js
  pages/docs/[...slug].tsx
  tsconfig.json
Labels: :shipit: approved

#648 Update getting-started-recipient-validation.md
  content/docs/recipient-validation/getting-started-recipient-validation.md
Labels: :shipit: approved, type: content change, team - UX

#639 WE-378: prefetching error on page load and hover
  components/markdown/link.tsx
  content/momentum/4/operations-riak-backups.md
  content/momentum/4/operations-riak-ports.md
  content/momentum/4/riak.md
  package-lock.json
Labels: :eyes: needs review, type: bug

#651 TR-2920 Update documentation on sending limit error codes
  content/docs/tech-resources/extended-error-codes.md
Labels: :shipit: approved, type: content change, team - TR

#652 TR-2920 Change last updated date on extended error codes article
  content/docs/tech-resources/extended-error-codes.md
Labels: :shipit: approved, team - TR
