Repository SparkPost/support-docs, pull requests merged in 2022-04, with the labels that each got.

#670 WE-449: Momentum EOL page 404 redirect
  content/momentum/4/eol-policy-2012.md
  content/momentum/4/eol-policy.md
Labels: :shipit: approved, type: content change, team - FE, team - UX, team - WE

#672 ESCSP-5547 sink
  content/docs/faq/using-sink-server.md
Labels: :shipit: approved, type: content change

#671 FE-1644 - Add Strict Transport Security Header to support-docs
  netlify.toml
Labels: :shipit: approved, team - FE

#673 FE-1642: Add CSP header
  content/docs/tech-resources/webhook-event-reference.md
  netlify.toml
Labels: :shipit: approved, team - FE
