Repository SparkPost/support-docs, pull requests merged in 2023-05, with the labels that each got.

#721 EA-9342 - New page for How to Use Design Tracker
  content/analyst/inbox-and-design-tracker/how-to-use-design-tracker.md
  content/analyst/inbox-and-design-tracker/media/how-to-use-design-tracker/retest-email-results-dropdown.png
Labels: team - EA

#723 Includes dynamic proxy_pass definition to make NGINX refresh the DNS lookup
  content/docs/tech-resources/using-proxy-https-tracking-domain.md
Labels: :shipit: approved, team - TR

#722 EA-9349 - Analytics tracker changes
  content/analyst/inbox-and-design-tracker/how-to-use-analytics-tracker.md
  content/analyst/inbox-and-design-tracker/media/how_to_use_analytics_tracker/counts.png
  content/analyst/inbox-and-design-tracker/media/how_to_use_analytics_tracker/emailclients.png
  content/analyst/inbox-and-design-tracker/media/how_to_use_analytics_tracker/engagement.png
  content/analyst/inbox-and-design-tracker/media/how_to_use_analytics_tracker/export.png
  content/analyst/inbox-and-design-tracker/media/how_to_use_analytics_tracker/geolocation.png
  content/analyst/inbox-and-design-tracker/media/how_to_use_analytics_tracker/newanalyticscampaign.png
  content/analyst/inbox-and-design-tracker/media/how_to_use_analytics_tracker/trackingcode.png
  content/analyst/inbox-and-design-tracker/media/how_to_use_analytics_tracker/trackingcode2.png
Labels: team - EA

#726 fix: trigger deploy
  content/docs/getting-started/getting-started-sparkpost.md
Labels: :shipit: approved

#725 fix: update media path
  content/docs/getting-started/getting-started-sparkpost.md
Labels: :shipit: approved

#727 Fix/escsp 6128 fix images not showing
  content/docs/getting-started/getting-started-sparkpost.md
  pages/docs/[...slug].tsx
Labels: :shipit: approved

#728 Fix/escsp 6128 fix images not showing
  cypress/integration/subpage.spec.ts
  next.config.js
  pages/docs/[...slug].tsx
Labels: :shipit: approved

#724 EA-9357 - Fix support@emailanalyst.com email address
  components/site/analystHomePageContent.tsx
  components/site/analystNavigation.tsx
Labels: :shipit: approved, team - EA
