Repository SparkPost/support-docs, pull requests merged in 2023-06, with the labels that each got.

#729 fix Sendgrid migration link
  content/docs/user-guide/migrating-from-sendgrid.md
Labels: :shipit: approved

#731 TR-4556: Add steps to enable the Host header in support docs
  content/docs/tech-resources/enabling-https-engagement-tracking-on-sparkpost.md
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/cloudfront_cache5.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/cloudfront_cache6.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/cloudfront_cache7.png
Labels: :shipit: approved, team - TR

#737 EA-9411 - Add page on how to use account ip management
  content/analyst/inbox-and-design-tracker/how-to-use-account-ip-management.md
  content/analyst/inbox-and-design-tracker/media/how-to-use-account-ip-management/add-ip-address.png
  content/analyst/inbox-and-design-tracker/media/how-to-use-account-ip-management/confirm-delete.png
  content/analyst/inbox-and-design-tracker/media/how-to-use-account-ip-management/create-ip-group.png
  content/analyst/inbox-and-design-tracker/media/how-to-use-account-ip-management/delete-ip-group.png
  content/analyst/inbox-and-design-tracker/media/how-to-use-account-ip-management/it-dropdown-menu.png
  content/analyst/inbox-and-design-tracker/media/how-to-use-account-ip-management/new-ip-group.png
  content/analyst/inbox-and-design-tracker/media/how-to-use-account-ip-management/process-file.png
  content/analyst/inbox-and-design-tracker/media/how-to-use-account-ip-management/select-file.png
  content/analyst/inbox-and-design-tracker/media/how-to-use-account-ip-management/view-all-select.png
Labels: :shipit: approved, team - EA

#738 TR-2691 Add extended error code 2007
  content/docs/tech-resources/extended-error-codes.md
Labels: :shipit: approved

#739 TR-4557: Update Fastly HTTPS setup guide
  content/docs/tech-resources/enabling-https-engagement-tracking-on-sparkpost.md
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-add-domain.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-add-host.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-cname-records.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-create-a-delivery-service.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-fallback-ttl.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-host-added.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-override-host.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-submit-tls-domain.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-tls-get-started.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-tls-issued.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-tls-issuing.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-2023-tls-pending.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-cert-letsencrypt-cname.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-cert-letsencrypt2.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-cert-letsencrypt3.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-cert1.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-cert2.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-cname.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-create-service.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-origin-hosts.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-origin.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-service-cname.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-stats.png
  content/docs/tech-resources/media/enabling-https-engagement-tracking-on-sparkpost/fastly-ttl.png
Labels: :shipit: approved, team - TR
